.body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}
.list{
    list-style-type: none;
    padding-left: 170px;
  
}
.menu{
  width: 1120px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0px;
  position: relative;
  padding-left: 0px;
  margin-top: -44px;
  padding-right: 54px;
}

.menu li, ul{
  display: inline;
  font-family: 'Nunito', sans-serif;
  padding-left: 79px;
  margin-left: 25px;
  margin-top: 45px; 
  font-size: 19px;
}

.menu img{
  width: 60px;
  padding-left: 6px;
  margin-top: 33px;
}
h1{
  padding-top: 8px;
}
h1, h2{
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    text-align: center;
    padding-left: 44px;
}
h2{
  font-weight: normal;
}
a{
  text-decoration: none;
  color: #000;
}
a:hover{
  color:blue;
  font-weight: bold;
}
 .banner {
  height: 50vw;
  background-image: url(assets/img/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: -8px;
}
h3 {
  font-family: 'Amaranth', sans-serif;
  padding-top: 190px;
  text-align: left;
  font-size: 25px;
  color: #ffffff;
  text-shadow: 0.1em 0.1em 0.2em black;
  text-align: justify;
  text-align: center;
  padding-right: 590px;
}
p{
  font-family: 'Archivo Narrow', sans-serif;
  text-align: -moz-left;
  font-size: 21px;
  color: #ffffff;
  text-align: justify;
  text-align: center;
  padding-right: 581px;
}