.body{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.list{
  list-style-type: none;
  padding-left: 170px;
  
}
.menu{
  width: 1120px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  padding-bottom: 0px;
  position: relative;
  padding-left: 0px;
  margin-top: -44px;
  padding-right: 54px;
  
}

.menu li, ul{
  display: inline;
  font-family: 'Nunito', sans-serif;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: 25px;
  margin-top: 45px; 
  font-size: 19px;
}

.menu img{
  width: 85px;
  padding-left: 6px;
  margin-top: 33px;
  border-radius: 25px;
}
.marca{
  margin-top: 21px;
  font-family: 'Nunito', sans-serif;
}
.marca h2{
  font-size: 17px;
  text-align: center;
  /* padding-left: 44px; */
  font-weight: normal;
}
.marca h1{
  
}


.menu a{
  text-decoration: none;
  color: #000;
}
.menu a:hover{
  color:blue;
  font-weight: bold;
}
.banner {
  height: 50vw;
  background-image: url(../img/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: -8px;
}
.titulo-principal {
  font-family: 'Amaranth', sans-serif;
  padding-top: 190px;
  text-align: left;
  font-size: 25px;
  color: #ffffff;
  text-shadow: 0.1em 0.1em 0.2em black;
  text-align: justify;
  text-align: center;
  padding-right: 590px;
}
main p{
  font-family: 'nunito', sans-serif;
  font-size: 21px;
  color: #ffffff;
  text-align: justify;
  text-align: center;
  padding-right: 581px;
}


.locais{
  background-image: url(../img/background-desfocado.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.definicoes{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.estacoes{    
  color: white;   
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 25px;
  text-align: center; 
  text-shadow: 0.1em 0.1em 0.2em black;
}
.titulo{
  color: white;    
  font-family: 'Archivo Narrow', sans-serif;    
  font-size: 40px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.imagem-estacao{   
  padding-left: 79px;    
  padding-right: 79px;
  width: 292px;
}
footer{
  font-family: 'Nunito', sans-serif;
  
}

.icones{
  padding-left: 124px;
  color: black;
  font-size: 27px;
}

.icones img{
  width: 162px;
}

.contato{
  margin-top: -102px;
  float: right;
}

.contato h4{
  font-size: 20px;
}

.contato p{
  font-size: 15px;
  color: grey;
  
}
.contato a{
  text-decoration: none;
  
}

.sub-menu ul,li{
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: space-evenly;
  
  
}
.email{
  text-align: end;
}
